URxvt*font: xft:DejaVu Sans Mono:size=12

URxvt.keysym.Home:          \033[1~
URxvt.keysym.End:           \033[4~
URxvt.keysym.S-Up: \033[1;2A
URxvt.keysym.S-Down: \033[1;2B
URxvt.keysym.S-Right: \033[1;2C
URxvt.keysym.S-Left: \033[1;2D
URxvt.keysym.S-Home: \033[1;2H
URxvt.keysym.S-End: \033[1;2F
URxvt.keysym.C-Up: \033[1;5A
URxvt.keysym.C-Down: \033[1;5B
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-S-Up: \033[1;6A
URxvt.keysym.C-S-Down: \033[1;6B
URxvt.keysym.C-S-Right: \033[1;6C
URXvt.keysym.C-S-Left: \033[1;6D

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*scrollBar: false
URxvt*scrollBar_right: false

// Tango theme colors
URxvt*foreground: white
urxvt*background: black

URxvt*color0:  #2E3436
URxvt*color1:  #a40000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #ce5c00
URxvt*color7:  #babdb9
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #fcaf3e
URxvt*color15: #EEEEEC
